p {
    text-align: center;
}

em strong {
    color: red;
}

ul {
    display: inline-block; /*Solo utilizara el espacio de su contenido */
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.tituloPrincipal {
    padding-left: 30px;
}
.tituloCentralizado {
    text-align: center;
}
.principal {
    background-color: #ccc;
    padding: 20px;
}
.diferenciales {
    background-color: white;
    padding: 30px;
}
.items {
    font-style: italic;
}

.imagenDiferenciales {
    width: 50%;
}

#banner {
    width: 100%;
}
#mision {
    font-size: 20px
}